* {margin: 0%;}
.home_App {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #f5f8fa;
  }

  .home_header {
    background-color: white;
    box-shadow: 5px 5px 20px rgb(68, 66, 66);
  }
  
  .home_background {
    background-image: url("https://c1.wallpaperflare.com/preview/825/533/293/agency-business-cafe-contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }
  
  .home_navbar {
    background-color: rgba(22, 22, 118, 0.348);
    padding: 15px;
    color: white;
    display: flex;
  }
  
  .home_navbar i {
    font-size: 40px;
    margin-right: 8px;
  }
  
  .home_navbar b {
    font-size: 35px;
  }
  
  .home_nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 80px;
    margin-top: 16px;
  }
  
  .home_nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
  }
  
  .home_nav-links a:hover {
    text-decoration: underline;
  }
  
  .home_main_heading {
    color: white;
    background-color: rgb(0, 0, 30, 0.3);
    background-size: cover;
    height: 72vh;
    padding-top: 140px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .home_main_heading b {
    font-size: 112px;
  }
  
  .home_main_heading p {
    font-size: 42px;
  }
  
  .home_heading {
    background-color: rgba(6, 147, 227, 1);
    width: 97vw;
    height: fit-content;
    text-align: center;
    color: white;
    padding: 40px;
  }
   
  .home_heading h1 {
    font-size: 50px;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom:20px;
  }
  
  .home_heading p {
    font-size: 31px;
    width: 65vw;
    margin: auto;
    text-align: justify;
    margin-bottom: 17px;
  }
  
  .home_heading1,
  .home_heading2,
  .home_heading3 {
    font-size: 30px;
    margin-top: 150px;
    text-align: center;
  }
  
  .home_images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .home_images img {
    width: 200px;
    height: 80px;
    margin: 50px;
  }
  
  .home_gray {
    filter: grayscale(100%);
    transition: filter(0.3s);
  }
  
  .home_gray:hover {
    filter: grayscale(0%);
  }
  
  .home_heading2 {
    margin-top: 130px;
    margin-bottom: 100px;
  }
  
  .home_container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .home_box {
    width: 730px;
    height: 350px;
    background-color: #2377b4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: white;
    margin: 1px;
    text-align: center;
  }
  
  .home_box i{
    font-size: 40px;
    margin-bottom: 20px;
  }

  .home_box h1 {
    font-weight: bold;
    font-size: 50px;
  }
  
  .home_content {
    opacity: 0%;
    transition: 0% ease;
  }
  
  .home_box:hover {
    background-color: white;
    color: #1886e6;
  }
  
  .home_box:hover h1 {
    color: black;
    margin-bottom: 30px;
  }
  
  .home_box:hover .home_content {
    opacity: 100%;
    text-align: center;
  }
  
  .home_box:hover .home_content {
    font-size: 20px;
    width: 500px;
    color: black;
  }
  
  .home_heading3 h1 {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
  }
  
  .home_heading3 p {
    margin-left: 16.5%;
    margin-right: 16.5%;
    text-align: center;
    font-size: 23px;
    margin-bottom: 5%;
  }
  
  .home_container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  .home_box1 {
    width: 382px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin: 10px;
    box-shadow: 5px 5px 20px rgb(68, 66, 66);
    text-align: center;
  }
  
  .home_box1 h1 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 35px;
  }
  
  .home_box1 img {
    margin-bottom: 40px;
  }
  
  .home_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .home_links a {
    margin: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .home_Footer {
    background-color: #174b74;
    background-size: cover;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .home_Footer h1{
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .home_menu_items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 50px);
  }
  
  .home_Footer a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
  }

  .home_Footer i{
    font-size: 30px;
  }
  
  
  .home_Footer a:nth-last-child(-n + 2) {
    grid-row: span 2;
  }
  
  .home_footer1 {
    background-color: rgb(50, 49, 49);
    padding-top: 23px;
    padding-bottom: 23px;
    color: white;
  }
  
  .home_footer1 a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding-left: 10.3%;
  }
  
  .home_footer1 b {
    font-size: 17px;
    padding-left: 40%;
    padding-right: 4%;
  }
  
  
  
  